body{
    background-color: orange;
    margin: 0;
    padding: 0;
}
#start{
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: white;
    width: calc(50vw - 20px);
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
}
#div1, #div2, #div3{
    width: 30vw;
    margin-left: 2.5vw;
    float: left;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#div1 div, #div2 div, #div3 div{   
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}